[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
req_extensions      = req_ext
prompt              = no
[ req_distinguished_name ]
countryName             = SE
stateOrProvinceName     = Karlstad
localityName            = KaU
organizationName        = KaU
commonName              = k8s.dashboard.prod
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
IP.1    = "Kubernetes master IP"

