mysqlclient
flask
flask-mysqldb
waitress
opentelemetry-distro
opentelemetry-instrumentation
opentelemetry-exporter-jaeger
opentelemetry-exporter-jaeger-proto-grpc
protobuf==3.20.*
numpy
cassandra-driver